prometheus:
  prometheusSpec:
    retention: 7d
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: "1"
        memory: 1Gi

alertmanager:
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
